<mat-card>
  <mat-card-header>
    <mat-card-title>{{title | uppercase}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="personForm">
      <div class="row g-2">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              type="text"
              matInput
              formControlName="fullName"
              placeholder="Nombre"/>
            <mat-error> Ingresa el nombre</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input
              type="text"
              matInput
              formControlName="surnames"
              placeholder="Apellidos"/>
            <mat-error> Ingresa los apellidos</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <div formGroupName="user">
            <div class="row g-2">
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Correo</mat-label>
                  <input
                    type="email"
                    matInput
                    formControlName="email"
                    placeholder="Correo electrónico"/>
                  <mat-error> Ingresa un correo válido</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input type="password" matInput formControlName="password"/>
                  <mat-error>Ingresa una contraseña válida</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Celular</mat-label>
            <input
              type="text"
              matInput
              formControlName="phone"
              placeholder="Celular"/>
            <mat-error> Ingresa el celular</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <div formArrayName="personRoles">
            <div *ngFor="let roleF of rolesForm.controls; let i = index">
              <div [formGroupName]="i">
                <div formGroupName="role">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="id">
                      <mat-option selected [value]="0">Seleccione rol</mat-option>
                      <mat-option [value]="1">ESTUDIANTE</mat-option>
                      <mat-option [value]="2">ADMINISTRADOR</mat-option>
                      <mat-option [value]="3">ASESOR</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button
      mat-button
      (click)="handleBtnCancel()">
      CANCELAR
    </button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="personForm.invalid || loading"
      (click)="handleBtnActionUser()">
      {{btnActionText | uppercase}}
    </button>
  </mat-card-actions>
  <pre>{{loading | json}}</pre>
  <pre>{{personForm.invalid | json}}</pre>
</mat-card>
