<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute my-4 py-2 start-0 end-0 mx-4"
      >
        <div class="container-fluid ps-2 pe-0">
          <a
            class="navbar-brand font-weight-bolder ms-lg-0 ms-3"
            href="../pages/dashboard.html"
          >
            Zona InBESTiga
          </a>
          <button
            class="navbar-toggler shadow-none ms-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navigation"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a
                  class="nav-link d-flex align-items-center me-2 active"
                  aria-current="page"
                  href="../pages/dashboard.html"
                >
                  <i class="fa fa-home opacity-6 text-dark me-1"></i>
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2" href="../pages/sign-in.html">
                  <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                  Ingresar
                </a>
              </li>
            </ul>
            <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item">
                <a
                  href="https://www.creative-tim.com/product/material-dashboard"
                  class="btn btn-sm mb-0 me-1 bg-gradient-info"
                  >REGISTRARSE</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>

<!-- Seccion Registro -->

<main class="main-content mt-0">
  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div
            class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column"
          >
            <div
              class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
              style="
                background-image: url('../assets/img/illustrations/illustration-signup.jpg');
                background-size: cover;
              "
            ></div>
          </div>
          <div
            class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5"
          >
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="font-weight-bolder">Registrarse</h4>
                <p class="mb-0">
                  Ingresa tu email y contraseña para registrarte
                </p>
              </div>
              <div class="card-body">
                <form role="form">
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" />
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" />
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" />
                  </div>
                  <div class="form-check form-check-info text-start ps-0">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                      checked
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      Estoy de acuerdo con los
                      <a
                        href="javascript:;"
                        class="text-dark font-weight-bolder"
                        >Terminos y Condiciones</a
                      >
                    </label>
                  </div>
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0"
                    >
                      Registrarse
                    </button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-2 text-sm mx-auto">
                  ¿Ya tienes una cuenta?
                  <a
                    href="../pages/sign-in.html"
                    class="text-primary text-gradient font-weight-bold"
                    >Ingresar</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Seccion Ingreso -->
  <div
    class="page-header align-items-start min-vh-100"
    style="background-image: url(../../../assets/img/inbestiga-fondo-1.webp)"
  >
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-5 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div
                class="bg-gradient-info shadow-info border-radius-lg py-2 pe-1"
              >
                <h4
                  class="text-white font-weight-bolder text-center mt-2 mb-2 fs-4"
                >
                  Únete a InBESTiga
                </h4>
                <p class="text-white mx-3 my-2 text-center">
                  Ingresa tu email y contraseña para registrarte
                </p>
              </div>
            </div>
            <div class="card-body">
              <form role="form" class="text-start">
                <div class="input-group input-group-outline my-3">
                  <button class="btn btn-primary" type="button">
                    Subir Archivo
                  </button>
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Nombres *</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Apellidos *</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Email *</label>
                  <input type="email" class="form-control" />
                </div>
                <div class="row g-2">
                  <div class="col-md-6 mx-0">
                    <div class="input-group input-group-outline">
                      <label class="form-label">Teléfono/Celular *</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6 mx-0">
                    <div class="input-group ">
                      <label class="form-label" for="inputCategory"
                        >Categoría</label
                      >
                      <select id="inputCategory" class="form-control">
                        <option selected></option>
                        <option>.</option>
                        <option>.</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label" for="message">Mensaje</label>
                  <textarea
                    class="form-control"
                    id="message"
                    rows="3"
                  ></textarea>
                </div>
                <div class="text-center">
                  <button
                    type="button"
                    class="btn bg-gradient-info w-100 my-4 mb-2"
                  >
                    Ingresar
                  </button>
                </div>
                <p class="mt-4 text-sm text-center">
                  ¿No tienes una cuenta?
                  <a
                    href="../pages/sign-up.html"
                    class="text-info text-gradient font-weight-bold"
                    >Registrarse</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer position-absolute bottom-2 py-2 w-100">
      <div class="container">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-12 col-md-6 my-auto">
            <div class="copyright text-center text-sm text-white text-lg-start">
              ©
              <span> {{ year }} </span>
              , Desarrollado por
              <a
                href="https://360virtualsol.com/"
                class="font-weight-bold text-white"
                target="_blank"
                >360 Virtual Solutions</a
              >
            </div>
          </div>
          <div class="col-12 col-md-6"></div>
        </div>
      </div>
    </footer>
  </div>
</main>
