<mat-card>
  <mat-card-header>
    <mat-card-title>Categorias</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
        <td mat-cell *matCellDef="let category">{{category.name}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>ESTADO</th>
        <td mat-cell *matCellDef="let category">
          <span
            class="badge"
            [class.bg-gradient-primary]="category.active"
            [class.bg-gradient-danger]="!category.active">{{category.active ? 'activo' : 'no activo'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let category">
          <button
            mat-icon-button
            color="primary"
            mat-icon-button
            color="accent"
            matTooltip="Ver detalles"
            matTooltipPosition="above"
            (click)="handleBtnEdit(category.id)">
            <mat-icon>edit</mat-icon>
          </button>
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">No hay categorias</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 30, 50]"></mat-paginator>
  </mat-card-content>
</mat-card>
