<div class="table-responsive">
  <table class="table align-items-center mb-0">
    <thead>
      <tr>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Categoria</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Activo</th>
        <th class="text-end text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actualizado</th>
        <th class="text-end text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Creado</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories$ | async">
        <td class="align-middle">{{category.name}}</td>
        <td class="align-middle">{{category.active}}</td>
        <td class="align-middle text-end">{{category.updatedAt}}</td>
        <td class="align-middle text-end">{{category.createdAt}}</td>
        <td class="align-middle">
          <div style="display: flex; gap: 2px; justify-content: end;">
            <div>
              <button 
                class="btn btn-icon btn-primary"
                (click)="handleBtnEdit(category)">
                  <i class="material-icons">edit</i>
              </button>
            </div>
            <div>
              <button class="btn btn-icon btn-secondary"><i class="material-icons">visibility</i></button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>