<div>
  <div class="mb-2">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Comentario</mat-label>
      <input
        matInput
        placeholder="Escribe un comentario"
        [formControl]="commentaryControl"
        (keyup.enter)="handleCreate()">
      <mat-error>Escribe un comentario</mat-error>
      <button matSuffix mat-icon-button (click)="handleCreate()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div style="display: flex; flex-direction: column; gap: 1rem;">
    <div
      style="line-height: 2.2px;"
      class="border-radius-lg bg-gray-100 border-0 p-4"
      *ngIf="commentaries.length == 0">
      <p class="m-0">No hay comentaios que mostrar.</p>
    </div>
    <div
      style="line-height: 4px;"
      class="border-radius-lg bg-gray-100 border-0 p-4"
      *ngFor="let commentary of commentaries">
      <h6 class="m-0 font-weight-bold text-sm">{{commentary.person.fullname}} {{commentary.person.surnames}}</h6>
      <small>{{commentary.content}}</small>
      <div class="text-end mt-2">
        <small>{{commentary.createdAt | time}}</small>
      </div>
    </div>
  </div>
</div>
