.content_alert {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #A9CCE3;
  color: #2980B9;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #2980B9;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
