
  <div class="container">
 
      <div id="chatview">
				<!--<div id="profile">
					<img src="../assets/img/bg-pricing.jpg" alt="">
					<p>Estudiante Inbesiga</p>
					<span>estudiante@inbestiga.com
          </span>
				</div>-->

				<div id="chat-messages">

					<label>Monday 01</label>

					<div class="message">
						<img src="../assets/img/bg-pricing.jpg">
						<div class="bubble">
							Why are you protecting me?Why are you protecting me?Why are you protecting me?Why are you protecting me?
              <span>4 min</span>
						</div>
            <br>
					</div>
          <br>
					<div class="message right agileits">
						<img src="../assets/img/bg-pricing.jpg">
						<div class="bubble">
							Coz you're my best friend Coz you're my best friend Coz you're my best friend
							<span>3 min</span>
						</div>
					</div>
          <br>
					<div class="message">
						<img src="../assets/img/bg-pricing.jpg">
						<div class="bubble">
							I don't remember you 						I don't remember you						I don't remember you
							<span>2 Min</span>
						</div>
					</div>
<br>
					<div class="message right w3layouts">
						<img src="../assets/img/bg-pricing.jpg">
						<div class="bubble">
							But I remember you
							<span>1 Min</span>
						</div>
					</div>
          <br>
					<div class="message">
						<img src="../assets/img/bg-pricing.jpg">
						<div class="bubble">
							Well, okay!
							<span>Now</span>
						</div>
					</div>

				</div>
        <br>
				<div id="sendmessage">
			    <mat-form-field appearance="outline" class="w-100">
            <mat-label>Mensaje</mat-label>
            <input
              matInput
              placeholder="Escribe un mensaje"
              >
            <mat-error>Escribe un mensaje</mat-error>
            <button
              matSuffix
              mat-icon-button
              >
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
				</div>

			</div>
 
  </div>
