<mat-card>
  <mat-card-header>
    <mat-card-title>{{project.name | titlecase}}</mat-card-title>
    <mat-card-subtitle># {{project.code}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="progress-wrapper">
      <div class="progress-info">
        <div class="progress-percentage">
          <span class="text-sm font-weight-normal">{{project.progress}} %</span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100" [style.width]="project.progress+'%'"></div>
      </div>
    </div>
    <div class="mt-2">
      <div>
        <div style="display: flex; flex-wrap: nowrap; align-content: center; gap: .5rem;">
          <div style="display: flex; align-content: center; align-items: center;"><i
            class="material-icons">event</i>
          </div>
          <span>{{project.createdAt | date}}</span>
        </div>

        <div *ngFor="let personProject of personsProject">
          <div
            style="display: flex; flex-wrap: nowrap; align-content: center; gap: .5rem;"
            *ngIf="personProject.isAdvisor">
            <div style="display: flex; align-content: center; align-items: center;"><i
              class="material-icons">person</i>
            </div>
            <span>Asesor: {{personProject.person.fullName}}</span>
          </div>
        </div>

        <div *ngFor="let personProject of personsProject">
          <div
            style="display: flex; flex-wrap: nowrap; align-content: center; gap: .5rem;"
            *ngIf="!personProject.isAdvisor">
            <div style="display: flex; align-content: center; align-items: center;"><i
              class="material-icons">person</i>
            </div>
            <span>Estudiante: {{personProject.person.fullName}}</span>
          </div>
        </div>
      </div>
      <div class="mt-1">
        <span
          class="badge badge-pill"
          [class.bg-gradient-warning]="project.status == cProjectStatus.REQUIRED"
          [class.bg-gradient-info]="project.status == cProjectStatus.ACCEPTED"
          [class.bg-gradient-danger]="project.status == cProjectStatus.REFUSED"
          [class.bg-gradient-secondary]="project.status == cProjectStatus.PENDING"
          [class.bg-gradient-success]="project.status == cProjectStatus.COMPLETED">
          {{project.status}}
        </span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions
    [align]="'end'"
    *ngIf="project.status !== cProjectStatus.REFUSED">
    <button
      mat-button
      color="primary"
      (click)="seeProject()">ver proyecto
    </button>
  </mat-card-actions>
</mat-card>
