<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{project.name | titlecase}}</h5>

    <div class="progress-wrapper">
      <div class="progress-info">
        <div class="progress-percentage">
          <span class="text-sm font-weight-normal">{{project.progress}} %</span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100" [style.width]="project.progress+'%'"></div>
      </div>
    </div>

    <div class="mt-2">
      <div>
        <div style="display: flex; flex-wrap: nowrap; align-content: center; gap: .5rem;">
          <div style="display: flex; align-content: center; align-items: center;"><i
            class="material-icons">event</i>
          </div>
          <span>{{project.createdAt | date}}</span>
        </div>

        <div *ngFor="let personProject of personsProject">
          <div
            style="display: flex; flex-wrap: nowrap; align-content: center; gap: .5rem;"
            *ngIf="personProject.isAdvisor">
            <div style="display: flex; align-content: center; align-items: center;"><i
              class="material-icons">person</i>
            </div>
            <span>Asesor: {{personProject.person.fullname}}</span>
          </div>
        </div>

        <div *ngFor="let personProject of personsProject">
          <div
            style="display: flex; flex-wrap: nowrap; align-content: center; gap: .5rem;"
            *ngIf="!personProject.isAdvisor">
            <div style="display: flex; align-content: center; align-items: center;"><i
              class="material-icons">person</i>
            </div>
            <span>Estudiante: {{personProject.person.fullname}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button class="btn btn-link m-0" (click)="seeProject()">ver proyecto</button>
    </div>
  </div>
</div>
