<div class="card-header pb-0">
  <div class="row">
    <div class="col-lg-6">
      <h5 class="card-title">Historial de documentos</h5>
    </div>
    <div class="col-lg-6 buttonEditUpdate"  *ngIf="status == cProjectStatus.ACCEPTED">
      <button
        mat-button
        color="primary"
        (click)="handleUploadUpdate()">
        <mat-icon>file_upload</mat-icon>
        Subir Actualizacion
      </button>
    </div>
  </div>
</div>
<div class="card-body p-3">
  <div class="border-radius-lg bg-gray-100 border-0 p-4" *ngIf="requirements && requirements.length == 0">
    <p class="m-0">
      No hay registros de documentos
    </p>
  </div>
  <div class="timeline timeline-one-side containerTitle" data-timeline-axis-style="dotted">
    <div class="timeline-block mb-3 " *ngFor="let requirement of requirements">
      <span class="timeline-step bg-primary p-3">
        <i class="material-icons text-white text-sm opacity-10">
          task
        </i>
      </span>
      <div class="timeline-content pt-1">
        <h6 class="text-dark font-weight-bold m-0" style="display: flex; align-items: center; gap: .5rem">
          {{requirement.name}} <i class="material-icons text-success cursor-pointer" (click)="handleEditRequirement(requirement)">edit</i></h6>
        <p>{{requirement.description}}</p>
        <p class="text-sm mt-3 mb-2 m-0 text-info">
            {{requirement.filename}}
            <i
              class="material-icons cursor-pointer text-info"
              (click)="getUrl(requirement.code)">open_in_new</i>
        </p>
        <p class="text-secondary text-xs mt-1 m-0">{{requirement.createdAt | date}}</p>
      </div>
      <div style="margin-left: .5rem;">
        <button class="btn btn-link btn-xs text-secondary m-0" type="button"
          (click)="handleViewCommentaries(requirement.id)">
          ver comentarios
        </button>
        <div class="content-commentary" *ngIf="requirement.id == requirementShowCommentariesId">
          <div>
            <vs-project-comments [requirementId]="requirement.id"></vs-project-comments>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
