<mat-card>
  <mat-card-header>
    <mat-card-title>{{invoice.project.name | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{invoice.project.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="showMembers">
      <h6>Asesores</h6>
      <ul>
        <div *ngFor="let personProject of invoice.project.personProjects">
          <li *ngIf="personProject.isAdvisor">{{personProject.person.fullName}} {{personProject.person.surnames}}</li>
        </div>
      </ul>
    </div>
    <mat-list>
      <mat-list-item *ngIf="showInfoPayment">
        <mat-icon mat-list-icon color="accent">payments</mat-icon>
        <div mat-line>TOTAL</div>
        <div mat-line>{{invoice.total | currency}}</div>
        <div>
          <button mat-icon-button color="primary" (click)="handleEditTotalInvoice()"
            *ngIf="roleSelected.id == cRole.ADMINISTRATOR">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="showInfoPayment">
        <mat-icon mat-list-icon color="primary">wallet</mat-icon>
        <div mat-line>CUOTAS</div>
        <div mat-line>{{invoice.feesPaidOut}} de {{invoice.feesNumber}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon [class.text-danger]="invoice.status == cInvoiceStatus.PENDING"
          [class.text-info]="invoice.status == cInvoiceStatus.PARTIAL"
          [class.text-success]="invoice.status == cInvoiceStatus.PAID_OUT">sell
        </mat-icon>
        <div mat-line>ESTADO</div>
        <div mat-line>{{invoice.status}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions [align]="'end'" *ngIf="showDetail">
    <button mat-button color="primary" (click)="handleViewDetails()">Ver detalles</button>
  </mat-card-actions>
</mat-card>
