<div class="card">
  <div class="card-header mx-4 p-3 text-center">
    <div
      class="icon icon-shape icon-lg shadow text-center border-radius-lg"
      [class.bg-gradient-danger]="invoice.status == cInvoiceStatus.PENDING"
      [class.bg-gradient-info]="invoice.status == cInvoiceStatus.PROCESSING"
      [class.bg-gradient-success]="invoice.status == cInvoiceStatus.PAID_OUT">
      <i class="material-icons opacity-10">payments</i>
    </div>
  </div>
  <div class="card-body pt-0 p-3 text-center">
    <h6 class="text-center mb-0">{{invoice.project.name | titlecase}}</h6>
    <span class="text-xs">{{invoice.project.description}}</span>
    <hr class="horizontal dark my-3">
    <h5 class="mb-0">{{invoice.total | currency}}</h5>
    <hr class="horizontal dark my-3">
    <h5
      class="mb-0"
      [class.text-danger]="invoice.status == cInvoiceStatus.PENDING"
      [class.text-info]="invoice.status == cInvoiceStatus.PROCESSING"
      [class.text-success]="invoice.status == cInvoiceStatus.PAID_OUT">
      {{invoice.status}}
    </h5>
  </div>
  <div>
    <button mat-button (click)="handleViewMoreDetail()">Ver</button>
  </div>
</div>
