<h5 mat-dialog-title>{{project.name | titlecase}}</h5>
<div mat-dialog-content>
    <p><strong>Descripcion: </strong>{{project.description}}</p>
    <div *ngIf="project.personProjects && project.personProjects.length > 0" class="student-info">
        <div class="info">
            <mat-icon style="color: #2196f3;">person</mat-icon>
            <div style="margin-left: 5px;">{{project.personProjects[0].person.fullName}} {{project.personProjects[0].person.surnames}}</div>
        </div>
        <div class="info">
            <mat-icon style="color: #009688;">phone_enabled</mat-icon>
            <div style="margin-left: 5px;">{{project.personProjects[0].person.phone}}</div>
        </div>
        <div class="info">
            <mat-icon style="color: #00bcd4;">mail</mat-icon>
            <div style="margin-left: 5px;">{{project.personProjects[0].person.user.email}}</div>
        </div>
    </div>
    <div class="mt-3">
        <form [formGroup]="requestForm">
            <div class="row g-2">
                <div class="col-md-8">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Monto</mat-label>
                        <span matPrefix>S/.</span>
                        <input matInput type="number" formControlName="amount">
                        <mat-error>El monto es necesario.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-select formControlName="feesNumber">
                            <mat-option [value]="1">1</mat-option>
                            <mat-option [value]="2">2</mat-option>
                            <mat-option [value]="3">3</mat-option>
                            <mat-option [value]="4">4</mat-option>
                            <mat-option [value]="5">5</mat-option>
                            <mat-option [value]="6">6</mat-option>
                        </mat-select>
                        <mat-error>Las cuotas son necesarias.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Fecha de inicio</mat-label>
                        <input matInput [matDatepicker]="startDate" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <mat-error>La fecha de inicio es necesaria.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Fecha de finalizacion</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="expirationDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>La fecha de finalizacion es necesaria.</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <vs-search-person [roleId]="cRole.ADVISOR" (person)="setPerson($event, cRole.ADVISOR)" [appearance]="'outline'" *ngIf="!advisor.id" [roleName]="'asesor'">
        </vs-search-person>
        <mat-error *ngIf="requestForm.controls['advisorId'].touched && requestForm.controls['advisorId'].hasError('min')">
            El asesor es necesario
        </mat-error>
        <div *ngIf="advisor.id">
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>person</mat-icon>
                    <div mat-line>{{advisor.fullName}} {{advisor.surnames}}</div>
                    <div mat-line>asesor</div>
                    <div>
                        <button mat-icon-button color="warn" (click)="handleCloseAdvisor()">
              <mat-icon>close</mat-icon>
            </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
        <div>
            <form [formGroup]="feeForm">
                <div formArrayName="fees">
                    <div class="row g-2">
                        <div *ngFor="let fee of feesFormArray.controls; let i= index;" class="col-md-6">
                            <div class="vs_content_fee">
                                <div>Cuota {{i + 1}}</div>
                                <div [formGroupName]="i" class="row g-2">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="legacy" class="w-100">
                                            <mat-label>Fecha de pago</mat-label>
                                            <input matInput [matDatepicker]="pickerPayDate" formControlName="paymentDate">
                                            <mat-datepicker-toggle matSuffix [for]="pickerPayDate"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerPayDate disabled="false"></mat-datepicker>
                                            <mat-error>La fecha de pago es necesaria.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="legacy" class="w-100">
                                            <mat-label>Pago</mat-label>
                                            <input type="number" matInput formControlName="total">
                                            <mat-error>El pago es necesario.</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="handleAcceptProject()" [disabled]="loading">
    Aceptar
  </button>
</div>