.contenedorDocument{
   padding-left: 10%;
   padding-top: 0px;
   padding-bottom: 0px;
}

.filenameData {
   margin-top: 2px !important;
}
.spanDate{
   margin-left: 5px;
   color: black;
   margin-right: 5px;
}
.filename{
   margin-left: 5px;
   margin-right: 5px;
   color: #1A73E8 !important;
}
.lin{
   color: red;
}
.material-icons{
   font-size: 15px !important;
   color: #1A73E8 !important;
}