<div style="display: flex; flex-direction: row; gap: .5rem; align-items: center; margin-bottom: .5rem">
  <button mat-icon-button (click)="handleBtnBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 style="margin: 0">{{person.fullName | titlecase}} {{person.surnames | titlecase}}</h2>
</div>

<div class="row g-3">
  <div class="col-md-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Informacion personal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <p><strong>Email: </strong>{{person.user.email}}</p>
          <p><strong>Telefono: </strong>{{person.phone}}</p>
          <p><strong>Rol: </strong>{{person.personRoles[0].role.name}}</p>
        </div>
      </mat-card-content>
      <mat-card-actions [align]="'end'">
        <button
          type="button"
          mat-flat-button
          (click)="handleBtnEditUser()"
          color="primary">
          Editar Usuario
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-8">
    <h5>Proyectos</h5>
    <div class="row g-2">
      <div class="col-lg-4 col-md-6" *ngFor="let project of projects">
        <vs-project-detail [project]="project"></vs-project-detail>
      </div>
      <div class="border-radius-lg bg-gray-100 border-0 p-4" *ngIf="projects.length == 0">
        <p class="m-0">No tiene proyectos.</p>
      </div>
    </div>
  </div>
</div>
