<mat-list>
  <mat-list-item *ngFor="let fee of fees">
    <div matLine>{{fee.createdAt | date}}</div>
    <div matLine># {{fee.code}}</div>
    <div matLine>
      <span
        [class.text-warning]="fee.status == cFeeStatus.PENDING"
        [class.text-info]="fee.status == cFeeStatus.PROCESSING"
        [class.text-success]="fee.status == cFeeStatus.PAID_OUT"
        [class.text-danger]="fee.status == cFeeStatus.REFUSED">{{fee.status}}</span>
    </div>
    <div matLine class="d-flex">
      <button
        mat-icon-button
        matTooltip="Abrir voucher"
        [matTooltipPosition]="'above'"
        *ngIf="fee.status !== cFeeStatus.PENDING"
        (click)="openFile(fee.code)">
        <mat-icon>open_in_browser</mat-icon>
      </button>
      <button
        mat-icon-button
        *ngIf="fee.status == cFeeStatus.PENDING || fee.status == cFeeStatus.REFUSED"
        color="accent"
        (click)="handlePay(fee)">
        <mat-icon>payment</mat-icon>
      </button>
      <div *ngIf="roleSelect.id == cRole.ADMINISTRATOR && fee.status == cFeeStatus.PROCESSING">
        <button
          mat-icon-button
          color="warn"
          matTooltip="Rechazar pago"
          [matTooltipPosition]="'above'"
          (click)="handleVerifyPayment(fee.id, false)">
          <mat-icon>close</mat-icon>
        </button>
        <button
          mat-icon-button
          color="accent"
          matTooltip="Verificar pago"
          [matTooltipPosition]="'above'"
          (click)="handleVerifyPayment(fee.id, true)">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>
