<div mat-dialog-title>
  <div>
    SOMOS UNA EMPRESA CONFIABLE
  </div>
  <p>Te compartimos nuestras cuentas: <span style="font-weight: bold; color: #0dcfbc;">INBESTIGA SAC</span></p>

</div>
<div mat-dialog-content>
  <div>
  </div>
  <div class="content">
    <div class="method">
      <div style="color: #0039A6; font-weight: bold;">INTERBANK</div>
      <div class="account">
        <div class="account-item">
          <div>
            <small>Cuenta en Soles</small>
            <div>N°: 500-3004188829</div>
          </div>
          <div>
            <button
              mat-icon-button
              [cdkCopyToClipboard]="interbankSoles">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
        <div class="account-item">
          <div>
            <small>Cuenta en Dolares</small>
            <div>N°: 500-3004188836</div>
          </div>
          <div>
            <button
              mat-icon-button
              [cdkCopyToClipboard]="interbankDolares">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="method">
      <div style="color: #ff7800; font-weight: bold;">BCP</div>
      <div class="account">
        <div class="account-item">
          <div>
            <small>Cuenta en Soles</small>
            <div>N°: 355-9862526-0-30</div>
          </div>
          <div>
            <button
              mat-icon-button
              [cdkCopyToClipboard]="bcpSoles">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="method">
      <div style="color: #1973b8; font-weight: bold;">BBVA</div>
      <div class="account">
        <div class="account-item">
          <div>
            <small>Cuenta en Soles</small>
            <div>N°: 0011-0235-0201838132</div>
          </div>
          <div>
            <button
              mat-icon-button
              [cdkCopyToClipboard]="bbvaSoles">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="method">
      <div style="color: #741893; font-weight: bold;">YAPE</div>
      <div class="account">
        <div class="account-item">
          <div>
            <small>Still Allasi Galarza</small>
            <div>926 708 058</div>
          </div>
          <div>
            <button
              mat-icon-button
              [cdkCopyToClipboard]="yape">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="method">
      <div style="color: #1bb5d2; font-weight: bold;">PLIN</div>
      <div class="account">
        <div class="account-item">
          <div>
            <small>Berenice Cervantes Poma</small>
            <div>948 780 668</div>
          </div>
          <div>
            <button
              mat-icon-button
              [cdkCopyToClipboard]="plin">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
