<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
  <h2 class="card-title">
    <i
      class="material-icons cursor-pointer"
      (click)="handleBtnArrowBack()">arrow_back</i>
    {{project.name | titlecase}}
  </h2>
  <div class="list-button">
    <div class="list-button"
         *ngIf="roleSelected.id == cRole.ADMINISTRATOR && project.status != cProjectStatus.ACCEPTED && project.status != cProjectStatus.REFUSED && project.status !== cProjectStatus.COMPLETED">
      <button
        mat-flat-button
        color="warn"
        (click)="handleRefuse()">
        Rechazar
      </button>
      <button
        mat-flat-button
        color="accent"
        (click)="handleAccept()">
        Aceptar
      </button>
    </div>

    <div
      *ngIf="roleSelected.id == cRole.ADMINISTRATOR && roleSelected.id !== 0 && project.status != cProjectStatus.REQUIRED && project.status != cProjectStatus.REFUSED && project.status !== cProjectStatus.COMPLETED">
      <button
        mat-flat-button
        color="warn"
        *ngIf="project.active"
        (click)="handleBtnToggleActiveProject()">
        <mat-icon>block</mat-icon>
        Deshabilitar Proyecto
      </button>
      <button
        mat-flat-button color="accent"
        *ngIf="!project.active"
        (click)="handleBtnToggleActiveProject()">
        <mat-icon>restore_page</mat-icon>
        Habilitar Proyecto
      </button>
    </div>
  </div>
</div>
<div class="row g-3">
  <div class="col-md-12">
    <mat-card>
      <mat-card-content>
        <vs-project-info [projectId]="projectId"></vs-project-info>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-8">
    <div class="row g-4">
      <div class="col-md-12" *ngIf="activeFormR">
        <vs-project-requirement-form [projectId]="projectId"></vs-project-requirement-form>
      </div>
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <vs-project-timeline [projectId]="projectId"></vs-project-timeline>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row g-3">
      <div class="col-md-12" *ngIf="invoices.length > 0">
        <div *ngFor="let invoice of invoices">
          <vs-invoice-detail
            [invoice]="invoice">
          </vs-invoice-detail>
        </div>
      </div>
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Comentarios</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <vs-project-document [projectId]="projectId"></vs-project-document>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
