<mat-card>
  <mat-card-header>
    <mat-card-title>Editar proyecto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="">
      <div class="d-flex justify-content-end align-items-center">
            <div class="price">
              <span>
               {{invoice.total| currency}}
              </span>
            </div>
            <button mat-icon-button (click)="handleEditInvoice()">
              <mat-icon>edit</mat-icon>
            </button>
      </div>
    </div>
    <form class="my-3" [formGroup]="projectForm">
      <h6>Detalles del proyecto</h6>
      <div class="row g-2">
        <div class="col-md-8">
          <mat-form-field appearance="outline">
            <mat-label>Titulo del proyecto</mat-label>
            <input matInput formControlName="name">
            <mat-error>El titulo es necesario.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4" *ngIf="!showOtherCategory">
          <div formGroupName="category">
            <mat-form-field appearance="outline">
              <mat-label>Categoria</mat-label>
              <mat-select formControlName="id">
                <mat-option [value]="0">Seleccione categoria</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
              </mat-select>
              <mat-error>La categoria es necesaria.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4" *ngIf="showOtherCategory">
          <mat-form-field appearance="outline">
            <mat-label>Otra categoria</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="otherCategory">
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="handleCloseOtherCategory()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="startDate" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            <mat-error>La fecha de inicio es necesaria.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de finalización</mat-label>
            <input matInput [matDatepicker]="pickerStart" formControlName="expirationDate" >
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart disabled="false"></mat-datepicker>
            <mat-error>La fecha de finalizacion es necesaria.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <textarea matInput formControlName="description" rows="1"></textarea>
            <mat-error>La descripcion es necesaria es necesaria.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <h5>Integrantes</h5>
          <div class="row g-2">
            <div class="col-md-6">
              <h6>Asesor</h6>
              <div *ngIf="roleSelected.id === cRole.ADMINISTRATOR">
                <vs-search-person
                  [roleId]="cRole.ADVISOR"
                  (person)="setPerson($event, cRole.ADVISOR)"
                  [appearance]="'outline'"
                  [roleName]="'asesor'">
                </vs-search-person>
              </div>

              <div formArrayName="personProjects">
                <div *ngFor="let personProject of personProjectsControls.controls; let i = index; ">
                  <div [formGroupName]="i">
                    <div style="display: flex; align-items: center; gap: .5rem;" *ngIf="personProject.value.isAdvisor">
                      <p style="margin: 0;"
                         [ngStyle]="{'text-decoration': personProject.value.active ? 'none' : 'line-through'}">
                        {{personProject.value.person.fullName}} {{personProject.value.person.surnames}}
                      </p>
                      <i
                        class="material-icons text-danger cursor-pointer"
                        (click)="removePersonProject(i, personProject)"
                        *ngIf="personProject.value.active && (personProject.value.person.id !== personAuth.id)">close</i>
                      <i
                        class="material-icons text-success cursor-pointer"
                        (click)="restorePersonProject(i)"
                        *ngIf="!personProject.value.active">replay</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h6>Estudiantes</h6>
              <div *ngIf="(roleSelected.id === cRole.ADMINISTRATOR || roleSelected.id === cRole.ADVISOR)">
                <vs-search-person
                  [roleId]="cRole.STUDENT"
                  (person)="setPerson($event, cRole.STUDENT)"
                  [appearance]="'outline'"
                  [roleName]="'estudiante'">
                </vs-search-person>
              </div>

              <div formArrayName="personProjects">
                <div *ngFor="let personProject of personProjectsControls.controls; let i = index; ">
                  <div [formGroupName]="i">
                    <div style="display: flex; align-items: center; gap: .5rem;" *ngIf="!personProject.value.isAdvisor">
                      <p style="margin: 0;"
                         [ngStyle]="{'text-decoration': personProject.value.active ? 'none' : 'line-through'}">
                        {{personProject.value.person.fullName}} {{personProject.value.person.surnames}}
                      </p>
                      <i
                        class="material-icons text-danger cursor-pointer"
                        (click)="removePersonProject(i, personProject)"
                        *ngIf="personProject.value.active && (personProject.value.person.id !== personAuth.id)">close</i>
                      <i
                        class="material-icons text-success cursor-pointer"
                        (click)="restorePersonProject(i)"
                        *ngIf="!personProject.value.active">replay</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="handleCancel()">Cancelar</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="loading"
      (click)="handleUpdate()">ACTUALIZAR PROYETO</button>
  </mat-card-actions>
</mat-card>
