<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <form class="my-3" [formGroup]="projectForm">
      <h6>Detalles del proyecto</h6>
      <div class="row g-2">
        <div class="col-md-8 my-2">
          <div class="input-group input-group-static">
            <label>Nombres</label>
            <input class="form-control" formControlName="name">
          </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="input-group input-group-static" formGroupName="category">
            <label>Categoria</label>
            <select class="form-control" formControlName="id">
              <option selected [value]="0">Seleccione categoria</option>
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 my-2">
          <div formArrayName="invoices">
            <div *ngFor="let invoiceControl of invoicesControls.controls; let i = index;">
              <div [formGroupName]="i">
                  <div class="input-group input-group-static">
                    <label>Costo</label>
                    <input class="form-control" type="number" formControlName="total">
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 my-2">
          <div class="input-group input-group-static">
            <label>Fecha fin</label>
            <input class="form-control" type="date" formControlName="expirationDate">
          </div>
        </div>
        <div class="col-md-8 my-2">
          <div class="input-group input-group-static">
            <label>Descripción</label>
            <textarea class="form-control" rows="1" formControlName="description"></textarea>
          </div>
        </div>
        <div class="col-md-12 my-2">
          <h6>Integrantes y asesores</h6>
          <div class="row g-2">
            <div class="col-md-6">
              <div style="display: flex; justify-content: space-between; gap: .5rem;">
                <div class="input-group input-group-static">
                  <label>Buscar estudiante</label>
                  <input
                    class="form-control"
                    placeholder="Codigo del estudiante"
                    [formControl]="codeControl"
                    (keyup.enter)="handleSearchMember(1)">
                </div>
                <div style="display: flex; align-items: end;">
                  <i class="material-icons text-success cursor-pointer" (click)="handleSearchMember(1)">search</i>
                </div>
              </div>

              <div class="mt-2" style="display: flex; justify-content: space-between; gap: .5rem;">
                <div class="input-group input-group-static">
                  <label>Buscar asesor</label>
                  <input
                    class="form-control"
                    placeholder="Codigo del asesor"
                    [formControl]="codeControl"
                    (keyup.enter)="handleSearchMember(3)">
                </div>
                <div style="display: flex; align-items: end;">
                  <i class="material-icons text-success cursor-pointer" (click)="handleSearchMember(3)">search</i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div formArrayName="personProjects">
                <div *ngFor="let personProject of personProjectsControls.controls; let i = index; ">
                    <div [formGroupName]="i">
                      <div style="display: flex; align-items: center; gap: .5rem;">
                        <p style="margin: 0;" [ngStyle]="{'text-decoration': personProject.value.active ? 'none' : 'line-through'}">
                          {{personProject.value.person.fullname}} {{personProject.value.person.surnames}}
                          <span *ngIf="personProject.value.isAdvisor" class="text-success">Asesor</span>
                        </p>
                        <i
                          class="material-icons text-danger cursor-pointer"
                          (click)="removePersonProject(i)"
                          *ngIf="personProject.value.active">close</i>
                        <i
                          class="material-icons text-success cursor-pointer"
                          (click)="restorePersonProject(i)"
                          *ngIf="!personProject.value.active">replay</i>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <button class="btn" (click)="handleCancel()">Cancelar</button>
      <button
        class="btn bg-gradient-info"
        [disabled]="projectForm.invalid || loading"
        (click)="handleCreate()">{{btnActionText}}</button>
    </div>
  </div>
</div>
