<div mat-dialog-title>Actualizar contraseña</div>
<div mat-dialog-content>
  <form [formGroup]="userForms">
    <div class="row g-2">
      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Contraseña actual</mat-label>
          <input
            type="text"
            matInput
            formControlName="password"
            placeholder="Contraseña actual"
          />
          <mat-error>Ingrese la contraseña actual.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Nueva Contraseña</mat-label>
          <input
            type="text"
            matInput
            formControlName="newPassword"
            placeholder="Nueva contraseña"
          />
          <mat-error>Ingrese la nueva contraseña</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Confirmar nueva contraseña</mat-label>
          <input
            type="text"
            matInput
            formControlName="passwordNewVerify"
            placeholder="Confirmar contraseña"/>
          <mat-error>Debe ser igual a la nueva contraseña</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button
    mat-button
    color="primary"
    (click)="handleCancel(false)">
   Cancelar
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="update()"
    [disabled]="loading">
    Actualizar Contraseña
  </button>
</div>
