<h5 mat-dialog-title>Solicitud de nuevo proyecto</h5>
<div mat-dialog-content>
  <form [formGroup]="projectForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nombre del proyecto</mat-label>
      <input
        matInput
        placeholder="Mi proyecto ..."
        formControlName="name">
      <mat-error>El nombre del proyecto es necesario.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Descripcion</mat-label>
      <textarea
        matInput
        placeholder="Descripcion de tu proyecto"
        formControlName="description"
        rows="10"></textarea>
      <mat-error>La descripcion es necesaria.</mat-error>
    </mat-form-field>
    <div formGroupName="category">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="id">
          <mat-option [value]="0">Seleccione categoria</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button
    type="button"
    mat-button
    (click)="onNoClick()">
    Cancelar
  </button>
  <button
    type="button"
    mat-flat-button
    color="primary"
    (click)="handleRequest()"
    [disabled]="projectForm.invalid || loading">
    Solicitar
  </button>
</div>
