<div *ngIf="!activeForm && (roleSelected.id !== cRole.STUDENT)">
  <button
    class="btn bg-gradient-info"
    (click)="handleBtnNewProject()">Crear proyecto <i class="material-icons">create_new_folder</i></button>
</div>

<div class="row g-3" *ngIf="!activeForm">
  <div class="col-md-12">
    <vs-project-filter></vs-project-filter>
  </div>
  <div class="col-md-12">
    <vs-project-table></vs-project-table>
  </div>
</div>

<div *ngIf="activeForm" style="margin-top: 1rem;">
  <vs-project-form></vs-project-form>
</div>
