<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="categoryForm" class="w-100">
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput placeholder="Categoria" formControlName="name">
        <mat-error>El nombre de la categoria es necesaria.</mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="active">activo</mat-checkbox>
    </form>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button
      mat-button
      type="butotn"
      (click)="handleBtnCancel()">
      CANCELAR
    </button>
    <button
      mat-flat-button
      color="primary"
      type="accent"
      [disabled]="loading$ | async"
      (click)="handleBtnActionCategory()">
      {{btnActionText | uppercase}}
    </button>
  </mat-card-actions>
</mat-card>
